.container {
  display: flex;
  height: 100%;
  background: #37404a;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.view_container {
  /* border-top-left-radius: 16px; */
  background: #f9f9fd;
  width: 100%;
  height: 100%;
  padding: 18px;
  box-shadow: inset 0px 0px 8px 2px #cfcfcf;
  flex: 1 1 auto;
}
