.container {
  height: 100%;
  width: 270px;
  color: #fff;
}

.list {
  list-style-type: none;
  padding: 8px 12px;
}

.list_item {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo_container {
  height: 100px;
  border: 2px dashed greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_menu_link{
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}
