.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 90px;
  width: 100%;
  color: #fff;
  padding: 24px;
  background: #727cf5;
}

.menu_content_list {
  list-style-type: none;
}

.breadcrumbs_container {
}
.user_menu_container {
}
