.login_page_container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}
.login_form_container{

}



.form{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}